*{
    margin: 0;
    padding: 10px;
    background-color: black;
    color:white
}

#box1{
    background-color: purple;
    height :150px;
    width:150px;
    margin-bottom: 5px;
}
#box2{
    background-color: rgb(6, 128, 0);
    height :150px;
    width:150px;
    margin-bottom: 5px;
}
#box3{
    background-color: rgb(193, 146, 34);
    height :150px;
    width:150px;
    margin-bottom: 5px;
}
#box4{
    background-color: rgb(193, 34, 135);
    height :150px;
    width:150px;
    margin-bottom: 5px;
}

#nav{
    width: 100%;
   height: 100px;
    display:flex;
   justify-content: space-between;
    align-items: center;
}

#nav-2{
    display:flex;
    gap: 20px;
    padding: 10px;
}