*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1, #page2, #page3{
    height: 100%;
    width: 100%;
    background-color: rgb(24, 23, 23);
}
#move{
    background-color: lawngreen;
}
#marque{
    height: 70px;
}