*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1, #page2, #page3{
    height: 100%;
    width: 100%;
    background-color: rgb(24, 23, 23);
}
#move{
    background-color: lawngreen;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

#marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: orange;
    padding: 20px 10px 20px 0;
    transform: translate(-99%);
}
#marque h1{
    font-size: 40px;
}
#marque i{
    font-size: 40px;
}