*{
    margin: 0;
    padding: 0;
    background-color: black;
    color:white
}
body, html{
    height: 100%;
    width: 100%;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: #0040ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2{
    width: 100%;
    height: 100%;
    background-color: #0040ff8a;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: #0040ff3e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

#page4{
    width: 100%;
    height: 100%;
    background-color: #1c6900;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    height: 200px;
    width: 200px;
    background-color: red;
}

#page3 h1, h2{
    padding: 10px;
}