*{
    margin: 0;
    padding: 0;
    background-color: black;
    color:white
}
body, html{
    height: 100%;
    width: 100%;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#page2{
    width: 100%;
    height: 100%;
    background-color: #ffffffa7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


#page3{
    width: 100%;
    height: 100%;
    background-color: #000000;
}
#page2 h1{
    font-size: 40vw;
    align-content: start;
    background-color: transparent;
    color: black;
    transform: translateX(30%);
}
