*{
    margin: 0;
    padding: 0;
    background-color: black;
    color:white
}
body, html{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}

#cursor{
    height: 10px;
    width: 10px;
    background-color: white;
    position: fixed;
    top: -10px;
    border-radius: 50%;
}