* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5p3DRQ-aFIZNUkO-Ccen2hyeKAiLrHf61bQ&s");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    color: white;
}
#nav h1{
    font-size: 35px;
}
#nav i{
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
#sidebar{
    height: 100%;
    width: 30%;
    position: absolute;
    right: -33.9%;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.433);
    backdrop-filter: blur(7px);
    padding-top: 100px;
    padding-left: 50px;
}
#sidebar h3{
    font-size: 40px;
    margin-bottom: 20px;
}
#sidebar i{
    position: absolute;
    top: 8%;
    right: 10%;
    cursor: pointer;
}